---
---

@import "{{ site.theme }}";

.bio-pic {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 33%;
    height: auto;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(120deg, #155799, #159957);
    display: flex;
    padding: 10px;
}

.nav-bar a:first-child {
    margin-right: auto;
    margin-bottom: 0px;
    float: left;
}

.nav-bar a {
    float: right;
    margin-bottom: 0px;
}

@media screen and (max-width: 42em) {
    .nav-bar a {
        margin-top: 1rem;
    }
}

.page-name {
    text-align: center;
    margin-top: 100px;
}

.page-name.notes-name {
    margin-left: 20%;
}

#content {
    padding: 6px 56px;
}

.notes-body {
    margin-left: 20%;
}

.code_block {
    float: initial;
}

.aside {
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    background-color: #cceaff; 
    border-radius: 20px;
}

#simple_function_breakdown {
    max-width: 477px;
}

.anchor-offset {
    display: block;
    position: relative;
    top: -88px;
    visibility: hidden;
}

.notes-sidebar { 
    position: fixed;
    width: 20%;
    height: 90%;
    background-color: white;
    box-shadow: 3px 0px whitesmoke;
    display: flex;
    flex-direction: column;
    top: 70px;
    overflow: scroll;
}

.sidebar-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    color: #1b5995;
    box-shadow: 0px 2px whitesmoke;
}

.sidebar-section {
    display: block;
    box-shadow: 0px 2px whitesmoke;
    padding: 15px;
    transition: background-color 0.2s;
    flex: 1;
}

.sidebar-section:hover {
    text-decoration: none !important;
    background-color: #E4F7FF;
}

.section-title {
    font-size: 17px;
    color: #606c70;
}

.section-caption {
    color: #819197;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

.example-title {
    font-size: 1.1rem;
    font-style: italic;
    color: #20955b;
}

.example-section {
    box-shadow: -3px 0px #20955b;
    padding: 0.2rem 1.5rem;
}

.definition-title {
    font-size: 1.1rem;
    font-style: italic;
    color: #1b5995;
}

.definition-section {
    box-shadow: -3px 0px #1b5995;
    padding: 0.2rem 1.5rem;
}