---
---

@import "{{ site.theme }}";

.home-page {
    margin-top: 70px;
}

.syllabus-week-wrapper {
    padding: 50px;
}

.syllabus-week {
    padding: 40px;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.syllabus-header {
    font-size: 24px;
}

.syllabus-header-button {
    padding: 0px 30px;
    background-color: #1b5995;
    margin-left: 30px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.syllabus-body {
    display: flex;
}

.syllabus-details {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.syllabus-preview {
    height: 100%;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
}

.syllabus-details-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.syllabus-details-section {
    display: flex;
    flex-direction: column;
}

.syllabus-details-section a {
    padding: 8px 0px 5px 0px;
    padding-left: 15px;
    margin: 10px 50px 0px 0px;
    text-decoration: none;
    color: #606c70;
    font-weight: 800;
    font-size: 18px;
    transition: background-color 0.23s, color 0.23s;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.syllabus-details-section a:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.syllabus-notes {
    border-color: #20955b;
}

.syllabus-notes:hover {
    color: #20955b;
}

.syllabus-assignments { 
    border-color: #1b5995;
}

.syllabus-assignments:hover {
    color: #1b5995;
}

.syllabus-figures {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.syllabus-preview-image {
    height: 200px;
    margin-bottom: 20px;
    background: lightsteelblue;
    border-style: solid;
    border-width: 1px;
}

.syllabus-buttons {
    display: flex;
}

.syllabus-buttons-piazza.dark-button {
    margin-right: 0px;
    margin-bottom: 0px;
}

.syllabus-buttons-slides.dark-button {
    margin-left: 0px;
    margin-bottom: 0px;
}

.dark-button {
    width: 50%;
    background-color: #1b5995;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.23s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-button:hover {
    background-color: #123E68
}

.bio-pic {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 33%;
    height: auto;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(120deg, #155799, #159957);
    display: flex;
    padding: 10px;
    z-index: 10000;
}

.nav-bar a:first-child {
    margin-right: auto;
    margin-bottom: 0px;
    float: left;
}

.nav-bar a {
    float: right;
    margin-bottom: 0px;
}

@media screen and (max-width: 42em) {
    .nav-bar a {
        margin-top: 1rem;
    }
}

.page-name {
    text-align: center;
    margin-top: 100px;
}

.page-name.notes-name {
    margin-left: 20%;
}

#content {
    padding: 6px 56px;
}

.notes-body {
    margin-left: 20%;
}

.code_block {
    float: initial;
}

.aside {
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    background-color: #cceaff; 
    border-radius: 20px;
}

#simple_function_breakdown {
    max-width: 477px;
}

.anchor-offset {
    display: block;
    position: relative;
    top: -88px;
    visibility: hidden;
}

.notes-sidebar { 
    position: fixed;
    width: 20%;
    height: 90%;
    background-color: white;
    box-shadow: 3px 0px whitesmoke;
    display: flex;
    flex-direction: column;
    top: 70px;
    overflow: scroll;
}

.sidebar-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    color: #1b5995;
    box-shadow: 0px 2px whitesmoke;
}

.sidebar-section {
    display: block;
    box-shadow: 0px 2px whitesmoke;
    padding: 15px;
    transition: background-color 0.2s;
    flex: 1;
}

.sidebar-section:hover {
    text-decoration: none !important;
    background-color: #E4F7FF;
}

.section-title {
    font-size: 17px;
    color: #606c70;
}

.section-caption {
    color: #819197;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

.example-title {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-style: italic;
    color: #20955b;
}

.example-section {
    box-shadow: -3px 0px #20955b;
    margin: 1rem 0em;
    padding: 0rem 1.5rem;
}

.definition-title {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-style: italic;
    color: #1b5995;
}

.definition-section {
    box-shadow: -3px 0px #1b5995;
    margin: 1rem 0em;
    padding: 0rem 1.5rem;
}

@media screen and (max-width: 675px) {
    .notes-sidebar {
        display: none;
    }

    .notes-body {
        margin-left: 0px;
    }

    .page-name.notes-name {
        margin-left: 0px;
    }
}