<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script>
      window.onscroll = function() {
        var myNav = document.getElementById("nav-bar");
        "use strict";
        if (document.body.scrollTop >= 280 || document.documentElement.scrollTop >= 280) {
          myNav.classList.add("scroll");
        } else {
          myNav.classList.remove("scroll");
        }
      };
    </script>

    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
<!--     <a id="skip-to-content" href="#content">Skip to the content.</a>
 -->

    {% if page.url == '/' %}   

    <div id="nav-bar" class="nav-bar home-nav-bar">
        <a class="main-link" href="{{ site.github.baseurl }}" class="btn"><div><b>CS</b>106R</div></a>
        <a href="https://geoffreyangus.github.io/CS106R/about" class="btn">Logistics</a>
        <a href="https://geoffreyangus.github.io/CS106R/syllabus" class="btn">About</a>
    </div>

    <!-- OUR SUPER AWESOME WEEKLY TEMPLATE -->
    <div class="home-page">
      <div class="syllabus-week-wrapper">
        <div class="syllabus-week">      
          <div class="syllabus-body">
            <div class="syllabus-details">
              <div class="syllabus-header">
                <div class="syllabus-header-title">
                  <b>Week 1:</b> Welcome to CS106R!
                </div>
              </div>
              <div class="syllabus-details-section">
                <div class="syllabus-details-title">
                  Notes
                </div>
                <a class="syllabus-details-link syllabus-notes">
                  Introduction to Python
                </a>
                <a class="syllabus-details-link syllabus-notes">
                  Functions Pt. 1
                </a>
                <a class="syllabus-details-link syllabus-notes">
                  Test Link
                </a>
              </div>
              <div class="syllabus-details-section">
                <div class="syllabus-details-title">
                  Exercises
                </div>
                <a class="syllabus-details-link syllabus-assignments">
                  Turn Left
                </a>
                <a class="syllabus-details-link syllabus-assignments">
                  Move Across
                </a>
                <a class="syllabus-details-link syllabus-assignments">
                  Test Link
                </a>
                <a class="syllabus-details-link syllabus-assignments">
                  Test Link
                </a>
              </div>
              <div class="syllabus-details-section">
                <div class="syllabus-details-title">
                  Projects
                </div>
                <a class="syllabus-details-link syllabus-assignments">
                  Stair Step
                </a>
              </div>
            </div>
            <div class="syllabus-figures">
              <div class="syllabus-preview">
                <div class="syllabus-preview-image">
                </div>
                <div class="syllabus-preview-caption">
                  PyBot. PyCountry fields. Your first Python program. What more could you want?
                </div>
              </div>
              <div class="syllabus-buttons">
                <div class="syllabus-buttons-slides dark-button">
                  Slides
                </div>
                <div class="syllabus-buttons-piazza dark-button">
                  Q & A
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="syllabus-week-wrapper">
        <div class="syllabus-week">      
          <div class="syllabus-body">
            <div class="syllabus-details">
              <div class="syllabus-header">
                <div class="syllabus-header-title">
                  <b>Week 1:</b> Welcome to CS106R!
                </div>
              </div>
              <div class="syllabus-details-section">
                <div class="syllabus-details-title">
                  Notes
                </div>
                <a class="syllabus-details-link syllabus-notes">
                  Introduction to Python
                </a>
                <a class="syllabus-details-link syllabus-notes">
                  Functions Pt. 1
                </a>
                <a class="syllabus-details-link syllabus-notes">
                  Test Link
                </a>
              </div>
              <div class="syllabus-details-section">
                <div class="syllabus-details-title">
                  Exercises
                </div>
                <a class="syllabus-details-link syllabus-assignments">
                  Turn Left
                </a>
                <a class="syllabus-details-link syllabus-assignments">
                  Move Across
                </a>
                <a class="syllabus-details-link syllabus-assignments">
                  Test Link
                </a>
                <a class="syllabus-details-link syllabus-assignments">
                  Test Link
                </a>
              </div>
              <div class="syllabus-details-section">
                <div class="syllabus-details-title">
                  Projects
                </div>
                <a class="syllabus-details-link syllabus-assignments">
                  Stair Step
                </a>
              </div>
            </div>
            <div class="syllabus-figures">
              <div class="syllabus-preview">
                <div class="syllabus-preview-image">
                </div>
                <div class="syllabus-preview-caption">
                  PyBot. PyCountry fields. Your first Python program. What more could you want?
                </div>
              </div>
              <div class="syllabus-buttons">
                <div class="syllabus-buttons-slides dark-button">
                  Slides
                </div>
                <div class="syllabus-buttons-piazza dark-button">
                  Q & A
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <div id="nav-bar" class="nav-bar">
        <a class="main-link" href="{{ site.github.baseurl }}" class="btn"><div><b>CS</b>106R</div></a>
        <a href="https://geoffreyangus.github.io/CS106R/about" class="btn">Logistics</a>
        <a href="https://geoffreyangus.github.io/CS106R/syllabus" class="btn">About</a>
    </div>


    {% endif %}

    {% if page.url contains'/notes/' %}
      <!-- SIDEBAR FORMAT TEMPLATE  -->
      {% if page.url contains 'simple_functions' %}
        <div class="notes-sidebar">
          <div class="sidebar-title">
            Contents
          </div>
          <a class="sidebar-section" href="#syntax-breakdown">
            <div class="section-title">
             Syntax Breakdown
            </div>
            <div class="section-caption">
              In order to understand the way functions work, we are going to break them down to their simplest components...
            </div>
          </a>

          <a class="sidebar-section" href="#calling-functions">
            <div class="section-title">
              Calling Functions
            </div>
            <div class="section-caption">
              To call a function is to use a function...
            </div>
          </a>

          <a class="sidebar-section" href="#function-implementation">
            <div class="section-title">
              Function Implementation
            </div>
            <div class="section-caption">
              Writing a function is not so difficult. For now, it is the simple act of coming up with a function name and writing the function body...
            </div>
          </a>

          <a class="sidebar-section" href="#decomposition">
            <div class="section-title">
              Decomposition
            </div>
            <div class="section-caption">
              It keeps small programs readable, and large programs from spiraling out of control...
            </div>
          </a>
        </div>

      {% elsif page.url contains 'conditional_statements' %}
        <div class="notes-sidebar">
            <div class="sidebar-title">
              Contents
            </div>
            <a class="sidebar-section" href="#if-statements">
              <div class="section-title">
                If Statements
              </div>
              <div class="section-caption">
                In order to understand the way functions work, we are going to break them down to their simplest components...
              </div>
            </a>

            <a class="sidebar-section" href="#inverting">
              <div class="section-title">
                not – Inverting Conditions 
              </div>
              <div class="section-caption">
                To call a function is to use a function...
              </div>
            </a>

            <a class="sidebar-section" href="#else-elif">
              <div class="section-title">
                else and elsif
              </div>
              <div class="section-caption">
                Writing a function is not so difficult. For now, it is the simple act of coming up with a function name and writing the function body...
              </div>
            </a>

            <a class="sidebar-section" href="#nesting">
                <div class="section-title">
                  Combining Conditions 
                </div>
                <div class="section-caption">
                  It keeps small programs readable, and large programs from spiraling out of control...
                </div>
              </a>

            <a class="sidebar-section" href="#combining-conditions">
              <div class="section-title">
                Combining Conditions 
              </div>
              <div class="section-caption">
                It keeps small programs readable, and large programs from spiraling out of control...
              </div>
            </a>
        </div> 

        {% elsif page.url contains '/loops' %}
        <div class="notes-sidebar">
            <div class="sidebar-title">
              Contents
            </div>
            <a class="sidebar-section" href="#for-loop">
              <div class="section-title">
                For Loops
              </div>
              <div class="section-caption">
                It is a segment of code that runs for a specified number of iterations...
              </div>
            </a>

            <a class="sidebar-section" href="#while-loop">
              <div class="section-title">
                While Loops
              </div>
              <div class="section-caption">
                In programs where you don't know how many iterations are going to be necessary, we use what are called while loops...
              </div>
            </a>

            <a class="sidebar-section" href="#infinite-loop">
              <div class="section-title">
                The "Infinite" Loop 
              </div>
              <div class="section-caption">
                There are times when you may want to make a while loop run forever; these are called infinite loops...
              </div>
            </a>
        </div>   

      {% endif %}

      <h1 class="page-name notes-name">{{ page.title | default: site.github.repository_name }}</h1>
      <main id="content" class="main-content notes-body" role="main">

    {% elsif page.url != '/' %}
      <h1 class="page-name">{{ page.title | default: site.github.repository_name }}</h1>
      <main id="content" class="main-content" role="main">

    {% else %}
      <main id="content" class="main-content" role="main">

    {% endif %}

      {{ content }}

    </main>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
